<div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="/" class="simple-text logo-normal px-2">
            <img href="/" src="/images/cm-plain.png" class="simple-text logo-mini d-inline" width="30px"/>
            <span class="m-3">CM Classes</span>
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="{{#if li1}}active{{/if}}">
                <a href="/dashboard/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{{#if li9}}active{{/if}}">
                <a href="/dashboard/roles">
                    <i class="now-ui-icons shopping_tag-content"></i>
                    <p>User roles</p>
                </a>
            </li>
            <li class="{{#if li3}}active{{/if}}">
                <a href="/dashboard/admission">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Admission</p>
                </a>
            </li>
            <li  class="{{#if li4}}active{{/if}}">
                <a href="/dashboard/students">
                    <i class="now-ui-icons education_hat"></i>
                    <p>Students</p>
                </a>
            </li>
            <li  class="{{#if li5}}active{{/if}}">
                <a href="/dashboard/employees">
                    <i class="now-ui-icons business_badge"></i>
                    <p>Employees</p>
                </a>
            </li>
            <li class="{{#if li6}}active{{/if}}">
                <a href="/dashboard/class">
                    <i class="now-ui-icons shopping_tag-content"></i>
                    <p>Class</p>
                </a>
            </li>
            <li class="{{#if li7}}active{{/if}}">
                <a href="/dashboard/enquiry">
                    <i class="now-ui-icons ui-2_chat-round"></i>
                    <p>Enquiry</p>
                </a>
            </li>
            <li class="{{#if li8}}active{{/if}}">
                <a href="/dashboard/leave">
                    <i class="now-ui-icons education_paper"></i>
                    <p>Leave</p>
                </a>
            </li>
           <li class="{{#if li10}}active{{/if}}">
                <a href="/dashboard/alert">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Alert</p>
                </a>
            </li>
            {{!-- <li class="{{#if li2}}active{{/if}}">
                <a href="/dashboard/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li> --}} 
            
        </ul>
    </div>
</div>
