<div class="profile-page sidebar-collapse">
    <!-- Navbar -->
    {{>header}}
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                 style="background-image:url('/images/boston-public-library-Mi8ozXhtmqI-unsplash.jpg');">
            </div>
            <div class="container">
                <h3 class="title">Video</h3>
                <p class="category">Tutorials</p>
                <div class="content">
                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <h1 class="col-md-12 title">
                        Standard 8
                    </h1>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5pEg8V4R0CugwKMxe9Oy7aS" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h1 class="col-md-12 title">
                        Standard 9
                    </h1>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5pmz8NesmBBCEBKkp0nS4LC" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5rNV0DzDBpnXzLLOdK7wDSK" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5rqYu5bruLP2wAOGapqMDTP" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h1 class="col-md-12 title">
                        Standard 10
                    </h1>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5o2unYv9jXrNMGKLT5HItqO" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5qIZvvUPfj8kjpUj67Yvk5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h1 class="col-md-12 title">
                        Standard 11
                    </h1>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5rZEUdrmGD0U-xrUr6wy5ME" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5pAfvX77rrIvuAU2-r2XaSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5rlkvlBHgrozhaBhvqeYhlR" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5qRO1zbOEVjaWg7AaTmjJAC" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h1 class="col-md-12 title">
                        Standard 12
                    </h1>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5qE4EjuZdE3TfnI7pDITcio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5pX1q6qFXEM0ql_n1NylR6r" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 py-5">
                        <iframe  src="https://www.youtube.com/embed/videoseries?list=PLEsmdsM8Oe5pWJ2iwSpLRtgBto7yeTAki" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</div>